last 5 chrome versions
last 5 firefox versions
last 5 iOS major versions
last 5 edge versions
last 5 safari versions
last 5 opera versions
Firefox ESR

> 0.5% and not dead
> 2% in US
> 2% in alt-EU
> 2% in alt-AS
> 2% in alt-OC

# Mini browsers aren't supported because they mess with incoming data.
# Sorry.
not OperaMini all

# No.
not IE 11
not IE 10
not IE 9
not IE 8
